<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773842466440-0cv6agg8mh5pcb6i2j9hkmhafrt0ah24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773842466440-0cv6agg8mh5pcb6i2j9hkmhafrt0ah24</string>
	<key>API_KEY</key>
	<string>AIzaSyBm9W_OHGLh3DduhDx8BvjW0uKHTGRc6Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>773842466440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.package.vodafone</string>
	<key>PROJECT_ID</key>
	<string>vodafonexjunction</string>
	<key>STORAGE_BUCKET</key>
	<string>vodafonexjunction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773842466440:ios:617e38423a56572c2e113d</string>
</dict>
</plist>